<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Tests" verbose="5" data-provider-thread-count="1">
	<test name="Test1">
		<parameter name="path" value="/"/>
		<classes>
		    <class name="ru.st.selenium.SignUp"/>
		    <class name="ru.st.selenium.SignUpClient"/>
		    <class name="ru.st.selenium.SignUpWithFacebook"/>
		    <class name="ru.st.selenium.CreatingBusiness"/>-->
		    <class name="ru.st.selenium.CreatingVenue"/>
		   	<class name="ru.st.selenium.CreatingOfferForMallBusiness"/>
		   	<class name="ru.st.selenium.CreatingOfferForChainBusiness"/>
		    <class name="ru.st.selenium.CreatingOfferForSmbBusiness"/>
		    <class name="ru.st.selenium.OnlineRegistration"/>
		    <class name="ru.st.selenium.OnlineRegistrationExistingUser"/>
		</classes>
	</test>  
</suite>